.tabl {
   text-align: center;
   margin-left:7%;
   margin-right:7%;
   background-image: url(cal3.png);
   opacity: 0.9;
   background-position: left center; 
   background-repeat: no-repeat;  
   background-attachment: fixed;   
   background-size: cover;
   background-color: #464646;
   border: 4px double black;
   border-collapse: collapse;
   font-size:50%;
}

.week {
   background:#00ff2a;
}

h1 {
   text-align: center;
}

td, th {
  padding-top:1%;
  padding-bottom:1%;
  width: 10%;
}
