.tabl {
   text-align: center;
   margin-left:7%;
   margin-right:7%;
   background-image: url(cal3.jpg);
   opacity: 0.9;
   background-position: center center; 
   background-repeat: no-repeat;  
   background-attachment: fixed;   
   background-size: contain;
   background-color: #464646;
   border: 4px double black;
   border-collapse: collapse;
}

.week {
   background:red;
}

td, th {
  width: 10%;
}
