.tabl {
   margin-left:25%;
   border: 2px white;
   border-collapse: collapse;
   font-size:70%;
}

h1 {
   text-align: center;
}

.black{
 background: #000000;
}
.white{
 background: #e5e5e5;
}
th, td {
 width: 55px;
 height: 55px;
}
