.tabl {
   margin-left:15%;
   border: 4px double black;
   border-collapse: collapse;
   font-size:70%;
}

h1 {
   text-align: center;
}

.black{
 background: #000000;
}
.white{
 background: #FFFFFF;
}
th, td {
 width: 55px;
 height: 55px;
}
